h1,
h2,
h3,
h4,
h5,
h6 {
    color: #202020;
}

p {
    font-size: 20px;
}

h1 {
    font: size 30px;
}

# first-article {
    font-size: 40px;
}

.text-red {
    color: red;
}

.fs-small {
    font-size: 12px;
}

.fs-medium {
    font-size: 18px;
}

.fs-large {
    font-size: 30px;
}